<% include partials/header %>

	<div class="container">
		<div class="jumbotron" style="border-radius: 0px;">
			<h1>Gallery place</h1>
			<p>Take picture whatever you want</p>
			<a class="btn btn-default btn-lg" href="/gallery/new" style="border-radius: 0px;"><i class="fa fa-picture-o" aria-hidden="true"></i> Add Picture</a>
		</div>
		<div class="row">
			<% data.forEach(function(gallery){ %>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="thumbnail">
						<img src="<%= gallery.img %>">
						<h4 class="text-center"><%= gallery.nama %></h4>
					</div>
				</div>
			<% }) %>
		</div>
	</div>

<% include partials/footer %>